.main{
    display: flex;

    align-items: center;
    flex-direction: column;
    width:100vw;
    height:100vh;

}
.title{
    top:10%;
}
.toDoThing {
    display:flex;
}



.form{
    width: 30%;
    height:20%;
    border-radius:8px;
    border:2px solid #E6E6E6;
}
.form.focused{
    border:2px solid #999999
}

.textbox{
    margin:auto;
    width: 90%;
    height:70%;
    
}

.titleText{
    width: 100%;
    height:30%;
    font-size:100%;
    font-weight: bold;
    box-sizing: border-box;
    outline:none;
    border:none;
}

.titleText:focus{
    border:none;
}
.detailText{
    width: 100%;
    height:20%;
    border:none;
    box-sizing: border-box;
    outline:none;
}
.detailText:focus{
    border:none;
}
.submit{
    display:flex;
    height:30%;
    justify-content: center;
    align-items: center;
    border-top:2px solid #E6E6E6;
}
.add {
    
    margin-left:80%;
    height:80%
}
